{% extends "league_layout.html" %}

{% block title %}
    Start Offer
{% endblock %}

{% block main %}
    <form action="/startoffer" method="post">
        <div>
            <select name="receiver">
                <option value="free_agent">Free Agent</option>
                {% for member in members %}
                    <option value="{{ member.id }}">{{ member.username }}</option>
                {% endfor %}
        </div>
        <button type="submit">Select</button>
    </form>
{% endblock %}